# Encoding

In [1]:
# Phase III - Version 4 - Termination Sequence Added
import numpy as np
import pandas as pd
import itertools

In [85]:
# Read in the ASCII Table
#ASCII_List_Raw=pd.read_csv("ASCII_QUAT_CODES_Table6-5A.csv", dtype=object,usecols=[0,1,2,3],skiprows=0, nrows=260,encoding='utf-8')
ASCII_List_Raw=pd.read_csv("ASCII_QUAT_CODES_Table1_9A.csv", dtype=object,usecols=[0,1,2,3],skiprows=0, nrows=260)
# ASCII_List_Raw=pd.read_csv("ASCII_QUAT_CODES_Table9_7A.csv", dtype=object,usecols=[0,1,2,3],skiprows=0, nrows=260)
# ASCII_List_Raw=pd.read_csv("ASCII_QUAT_CODES_Table6_5A.csv", dtype=object,usecols=[0,1,2,3],skiprows=0, nrows=260)



display(ASCII_List_Raw.head())
display(ASCII_List_Raw.tail())

  Dec Char QUAT CODE QUAT NUCLEOTIDES
0   0  NUL        10               GT
1   1  SOH        11               GA
2   2  STX        12               GC
3   3  ETX        13              GCC
4   4  EOT        20               TA

     Dec Char QUAT CODE QUAT NUCLEOTIDES
251  251    ?   0030023        CGCCGTGCC
252  252    ?   0030030        CGCCGTCGT
253  253    ²   0030031        CGCCGTCGA
254  254    ?   0030032        CGCCGTCGC
255  255  NaN   0030033       CGCCGTCGCC

# Functions

In [86]:
def get_QUAT_NUCLEOTIDES(df, value):
    ''' Takes a character as the input and returns the corresponding QUAT NUCLEOTIDE.'''
    
    # Deal with the special case when the entry is a spacebar
    if value==" ":
        value="space"
    
    elif value=="'":
        pass
    elif value=="\n": # If the character is a new line, swap it for a LF ASSCI instead
        value="LF"
#         return True
#     elif value=="SOMETHING WE CANT TRANSLATE"
#         return True

    # Get bool dataframe with True at positions where the given value exists
    result = df.isin([value])
    # Find the row where result is true
    row = list(result["Char"][result["Char"] == True].index)
    # Find the corresponding QUAT NUCLEOTIDE at the row
    nucleotideCode=df.loc[row,"QUAT NUCLEOTIDES"].tolist()[0]
    encoding=df.loc[row,"QUAT CODE"].tolist()[0]
    return nucleotideCode, encoding

In [87]:
# get_QUAT_NUCLEOTIDES-Test
a,q=get_QUAT_NUCLEOTIDES(ASCII_List_Raw,"I")
b,r=get_QUAT_NUCLEOTIDES(ASCII_List_Raw," ") 
c,s=get_QUAT_NUCLEOTIDES(ASCII_List_Raw,"h")
d,t=get_QUAT_NUCLEOTIDES(ASCII_List_Raw,"a")
e,u=get_QUAT_NUCLEOTIDES(ASCII_List_Raw,"v") 
f,v=get_QUAT_NUCLEOTIDES(ASCII_List_Raw,"e") 
g,w=get_QUAT_NUCLEOTIDES(ASCII_List_Raw," ")
h,x=get_QUAT_NUCLEOTIDES(ASCII_List_Raw,"a") 
i,y=get_QUAT_NUCLEOTIDES(ASCII_List_Raw," ")
j,z=get_QUAT_NUCLEOTIDES(ASCII_List_Raw,"d")
k,z1=get_QUAT_NUCLEOTIDES(ASCII_List_Raw,"r") 
l,z2=get_QUAT_NUCLEOTIDES(ASCII_List_Raw,"e")
m,z3=get_QUAT_NUCLEOTIDES(ASCII_List_Raw,"a")
n,z4=get_QUAT_NUCLEOTIDES(ASCII_List_Raw,"m") 
print("I"," ","h","a","v","e"," ", "a", " ", "d", "r", "e", "a", "m")
print(a,b,c,d,e,f,g,h,i,j,k,l,m,n)
print(q,r,s,t,u,v,w,x,y,z,z1,z2,z3,z4)
# print(type(a))

I   h a v e   a   d r e a m
CACAG CTATA CGTCGT CGTCT CGTAGGC CGTGA CTATA CGTCT CTATA CGTGT CGTATG CGTGA CGTCT CGTAGA
02021 01020 00030 00011 000032 00021 01020 00011 01020 00020 000022 00021 00011 000011

In [88]:
letterList=["I","space","h","a","v","e","space", "a", "space", "d", "r", "e", "a", "m"]
codeList=[q,r,s,t,u,v,w,x,y,z,z1,z2,z3,z4]
nucleotdieList=[a,b,c,d,e,f,g,h,i,j,k,l,m,n]

In [36]:
insides={"Coding_Table1_9A":codeList, "Nucleotides_Table1_9A":nucleotdieList}

outputFrame=pd.DataFrame(insides)
outputFrame.index=letterList
display(outputFrame)

      Coding_Table1_9A Nucleotides_Table1_9A
I                02021                 CACAG
space            01020                 CTATA
h                00030                CGTCGT
a                00011                 CGTCT
v               000032               CGTAGGC
e                00021                 CGTGA
space            01020                 CTATA
a                00011                 CGTCT
space            01020                 CTATA
d                00020                 CGTGT
r               000022                CGTATG
e                00021                 CGTGA
a                00011                 CGTCT
m               000011                CGTAGA

In [41]:
insides={"Coding_Table9_7A":codeList, "Nucleotides_Table9_7A":nucleotdieList}

outputFrame1=pd.DataFrame(insides)
outputFrame1.index=letterList
display(outputFrame1)

      Coding_Table9_7A Nucleotides_Table9_7A
I                 1021                  GTGA
space             0200                  CACG
h                 1220                  GCAC
a                 1201                  GCGA
v                 1312                 GCCTG
e                 1211                  GCTC
space             0200                  CACG
a                 1201                  GCGA
space             0200                  CACG
d                 1210                  GCTA
r                 1302                 GCCGC
e                 1211                  GCTC
a                 1201                  GCGA
m                 1231                 GCTTC

In [50]:
insides={"Coding_Table6_5A":codeList, "Nucleotides_Table6_5A":nucleotdieList}

outputFrame2=pd.DataFrame(insides)
outputFrame2.index=letterList
display(outputFrame2)

      Coding_Table6_5A Nucleotides_Table6_5A
I              0000021              CGTACTGC
space             0010                  CGCG
h           0000000000            CGTACGTACG
a            000000021            CGTACGTCGC
v           0000000032           CGTACGTAGAC
e            000000031             CGTACGTCA
space             0010                  CGCG
a            000000021            CGTACGTCGC
space             0010                  CGCG
d            000000030             CGTACGTCG
r           0000000022          CGTACGTAGTCG
e            000000031             CGTACGTCA
a            000000021            CGTACGTCGC
m           0000000011            CGTACGTATG

In [51]:
bigFrame=pd.concat([outputFrame2, bigFrame], axis=1)

In [75]:
display(bigFrame)
outputFrame=bigFrame.astype(str)
outputFrame.to_csv("OutputLatest.bod",encoding="utf-8",index = True)

,Coding_Table6_5A,Nucleotides_Table6_5A,Coding_Table9_7A,Nucleotides_Table9_7A,Coding_Table1_9A,Nucleotides_Table1_9A
I,0000021,CGTACTGC,1021,GTGA,02021,CACAG
space,0010,CGCG,0200,CACG,01020,CTATA
h,0000000000,CGTACGTACG,1220,GCAC,00030,CGTCGT
a,000000021,CGTACGTCGC,1201,GCGA,00011,CGTCT
v,0000000032,CGTACGTAGAC,1312,GCCTG,000032,CGTAGGC
e,000000031,CGTACGTCA,1211,GCTC,00021,CGTGA
space,0010,CGCG,0200,CACG,01020,CTATA
a,000000021,CGTACGTCGC,1201,GCGA,00011,CGTCT
space,0010,CGCG,0200,CACG,01020,CTATA
d,000000030,CGTACGTCG,1210,GCTA,00020,CGTGT
r,0000000022,CGTACGTAGTCG,1302,GCCGC,000022,CGTATG
e,000000031,CGTACGTCA,1211,GCTC,00021,CGTGA
a,000000021,CGTACGTCGC,1201,GCGA,00011,CGTCT
m,0000000011,CGTACGTATG,1231,GCTTC,000011,CGTAGA

In [89]:
nucleotideTogether=""
for i in nucleotdieList:
    nucleotideTogether=nucleotideTogether+((i))
print(nucleotideTogether)

print(codeList)

CACAGCTATACGTCGTCGTCTCGTAGGCCGTGACTATACGTCTCTATACGTGTCGTATGCGTGACGTCTCGTAGA
['02021', '01020', '00030', '00011', '000032', '00021', '01020', '00011', '01020', '00020', '000022', '00021', '00011', '000011']

In [95]:
# Address Code
"TT" in nucleotideTogether

False

In [94]:
# Termination Sequence Test
termList=["AA","AT","AC","AG","TT","TA","TC","TG","CC","CT","CG","CA","GG","GA","GT","GC"]
for ends in termList:
    if ends in nucleotideTogether:
        print("Found one here exclude: ",ends)
    else:
        print("Can use this one: ",ends)

Can use this one:  AA
Found one here exclude:  AT
Found one here exclude:  AC
Found one here exclude:  AG
Can use this one:  TT
Found one here exclude:  TA
Found one here exclude:  TC
Found one here exclude:  TG
Found one here exclude:  CC
Found one here exclude:  CT
Found one here exclude:  CG
Found one here exclude:  CA
Found one here exclude:  GG
Found one here exclude:  GA
Found one here exclude:  GT
Found one here exclude:  GC