# Encoding

In [2]:
# Phase III - Version 3 - Binary Conversion 09/11/2020
import numpy as np
import pandas as pd
import itertools

In [22]:
# Read in the ASCII Table
binaryRaw=pd.read_csv("BINARYCODES.csv", dtype=object,usecols=[0],skiprows=0,header=None, encoding='utf-8')

#ASCII_List_Raw=pd.read_csv("ASCII_QUAT_CODES.csv", dtype=object,usecols=[0,1,2,3],skiprows=0, nrows=260,encoding='utf-8')

#display(ASCII_List_Raw.head())
#display(ASCII_List_Raw.tail())

display(binaryRaw)

            0
0    00000000
1    00000001
2    00000010
3    00000011
4    00000100
..        ...
251  11111011
252  01111100
253  11111101
254  01111110
255  01111111

[256 rows x 1 columns]

# Functions

In [23]:
def decodeBinary(input):
    if input == "00":
        quatNumber=0
    if input == "01":
        quatNumber=1
    if input == "10":
        quatNumber=2
    if input == "11":
        quatNumber=3
    
    return quatNumber

In [24]:
# Test Binary Decoder
decodeBinary("11")

3

In [25]:
def decodeQuat(input):
    if input == 0:
        quatLetter="A"
    if input == 1:
        quatLetter= "C"
    if input == 2:
        quatLetter= "G"
    if input == 3:
        quatLetter= "T"
    
    return quatLetter

In [26]:
# Test Quat Decoder
decodeQuat(2)

'G'

In [35]:
string="00001110"

quatNumberList=[]
quatLetterList=[]

for i in range(4):
    nextQuatNumber=decodeBinary(string[(2*i):(2*i)+2])
    quatNumberList.append(nextQuatNumber)
    
    nextQuatLetter=decodeQuat(nextQuatNumber)
    quatLetterList.append(nextQuatLetter)
    
print (quatNumberList, quatLetterList)

[0, 0, 3, 2] ['A', 'A', 'T', 'G']

# Main Engine

In [41]:
quatNumberList=[]
quatLettersList=[]

for value in binaryRaw.iloc[:,0]:
    quatNumbers=""
    quatLetters=""
    for i in range (int((len(value)/2))):
        nextQuatNumber=decodeBinary(value[(2*i):(2*i)+2])
        nextQuatLetter=decodeQuat(nextQuatNumber)
        
        quatNumbers=quatNumbers+str(nextQuatNumber)
        quatLetters=quatLetters+nextQuatLetter
        
    quatNumberList.append(quatNumbers)
    quatLettersList.append(quatLetters)
    
print(quatNumberList)
print(quatLettersList)

['0000', '0001', '0002', '0003', '0010', '0011', '0012', '0013', '0020', '0021', '0022', '0023', '0030', '0031', '0032', '0033', '0100', '0101', '0102', '0103', '0110', '0111', '0112', '0113', '0120', '0121', '0122', '0123', '0130', '0131', '0132', '0133', '0200', '0201', '0203', '0203', '0210', '0211', '0212', '0213', '0220', '0221', '0222', '0223', '0230', '0231', '0232', '0233', '0300', '0301', '0302', '0303', '0310', '0311', '0312', '0313', '0320', '0322', '0322', '0323', '0330', '0331', '0332', '0333', '1000', '1001', '1002', '1003', '1010', '1011', '1012', '1013', '1020', '1021', '1022', '1023', '1030', '1031', '1032', '1033', '1100', '1101', '1102', '1103', '1110', '1111', '1112', '1113', '1120', '1121', '1122', '1123', '1130', '1131', '1132', '1133', '1200', '1201', '1202', '1203', '1210', '1211', '1212', '1213', '1220', '1221', '1222', '1223', '1230', '1231', '1232', '1233', '1300', '1301', '1302', '1303', '1310', '1311', '1312', '1313', '1320', '1321', '1322', '1323', '1330', '1331', '1332', '1333', '2000', '2001', '2002', '2003', '2010', '2011', '2012', '2013', '2020', '2021', '2022', '2023', '2030', '2031', '2032', '2033', '2100', '2101', '2102', '2103', '2110', '2111', '2112', '2113', '2120', '2121', '2122', '2123', '2130', '2131', '2132', '2133', '2200', '2201', '2202', '2203', '2210', '2211', '2212', '2213', '2220', '2221', '2222', '2223', '2230', '2231', '2232', '2233', '2300', '2301', '2302', '2303', '2310', '2311', '2312', '2313', '2320', '2321', '2322', '2323', '2330', '2331', '2332', '2333', '3000', '3001', '3002', '3003', '3010', '3011', '3012', '3013', '3020', '3021', '3022', '3023', '3030', '3031', '3032', '3033', '3100', '3101', '3102', '3103', '3110', '3111', '3112', '3113', '3120', '3121', '3122', '3123', '3130', '3131', '3132', '1233', '3200', '3201', '3202', '3203', '3210', '3211', '3212', '3213', '3220', '3221', '3222', '3223', '3230', '3231', '3232', '3233', '3300', '3301', '3302', '3303', '3310', '3311', '3312', '3313', '3320', '3321', '3322', '3323', '1330', '3331', '1332', '1333']
['AAAA', 'AAAC', 'AAAG', 'AAAT', 'AACA', 'AACC', 'AACG', 'AACT', 'AAGA', 'AAGC', 'AAGG', 'AAGT', 'AATA', 'AATC', 'AATG', 'AATT', 'ACAA', 'ACAC', 'ACAG', 'ACAT', 'ACCA', 'ACCC', 'ACCG', 'ACCT', 'ACGA', 'ACGC', 'ACGG', 'ACGT', 'ACTA', 'ACTC', 'ACTG', 'ACTT', 'AGAA', 'AGAC', 'AGAT', 'AGAT', 'AGCA', 'AGCC', 'AGCG', 'AGCT', 'AGGA', 'AGGC', 'AGGG', 'AGGT', 'AGTA', 'AGTC', 'AGTG', 'AGTT', 'ATAA', 'ATAC', 'ATAG', 'ATAT', 'ATCA', 'ATCC', 'ATCG', 'ATCT', 'ATGA', 'ATGG', 'ATGG', 'ATGT', 'ATTA', 'ATTC', 'ATTG', 'ATTT', 'CAAA', 'CAAC', 'CAAG', 'CAAT', 'CACA', 'CACC', 'CACG', 'CACT', 'CAGA', 'CAGC', 'CAGG', 'CAGT', 'CATA', 'CATC', 'CATG', 'CATT', 'CCAA', 'CCAC', 'CCAG', 'CCAT', 'CCCA', 'CCCC', 'CCCG', 'CCCT', 'CCGA', 'CCGC', 'CCGG', 'CCGT', 'CCTA', 'CCTC', 'CCTG', 'CCTT', 'CGAA', 'CGAC', 'CGAG', 'CGAT', 'CGCA', 'CGCC', 'CGCG', 'CGCT', 'CGGA', 'CGGC', 'CGGG', 'CGGT', 'CGTA', 'CGTC', 'CGTG', 'CGTT', 'CTAA', 'CTAC', 'CTAG', 'CTAT', 'CTCA', 'CTCC', 'CTCG', 'CTCT', 'CTGA', 'CTGC', 'CTGG', 'CTGT', 'CTTA', 'CTTC', 'CTTG', 'CTTT', 'GAAA', 'GAAC', 'GAAG', 'GAAT', 'GACA', 'GACC', 'GACG', 'GACT', 'GAGA', 'GAGC', 'GAGG', 'GAGT', 'GATA', 'GATC', 'GATG', 'GATT', 'GCAA', 'GCAC', 'GCAG', 'GCAT', 'GCCA', 'GCCC', 'GCCG', 'GCCT', 'GCGA', 'GCGC', 'GCGG', 'GCGT', 'GCTA', 'GCTC', 'GCTG', 'GCTT', 'GGAA', 'GGAC', 'GGAG', 'GGAT', 'GGCA', 'GGCC', 'GGCG', 'GGCT', 'GGGA', 'GGGC', 'GGGG', 'GGGT', 'GGTA', 'GGTC', 'GGTG', 'GGTT', 'GTAA', 'GTAC', 'GTAG', 'GTAT', 'GTCA', 'GTCC', 'GTCG', 'GTCT', 'GTGA', 'GTGC', 'GTGG', 'GTGT', 'GTTA', 'GTTC', 'GTTG', 'GTTT', 'TAAA', 'TAAC', 'TAAG', 'TAAT', 'TACA', 'TACC', 'TACG', 'TACT', 'TAGA', 'TAGC', 'TAGG', 'TAGT', 'TATA', 'TATC', 'TATG', 'TATT', 'TCAA', 'TCAC', 'TCAG', 'TCAT', 'TCCA', 'TCCC', 'TCCG', 'TCCT', 'TCGA', 'TCGC', 'TCGG', 'TCGT', 'TCTA', 'TCTC', 'TCTG', 'CGTT', 'TGAA', 'TGAC', 'TGAG', 'TGAT', 'TGCA', 'TGCC', 'TGCG', 'TGCT', 'TGGA', 'TGGC', 'TGGG', 'TGGT', 'TGTA', 'TGTC', 'TGTG', 'TGTT', 'TTAA', 'TTAC', 'TTAG', 'TTAT', 'TTCA', 'TTCC', 'TTCG', 'TTCT', 'TTGA', 'TTGC', 'TTGG', 'TTGT', 'CTTA', 'TTTC', 'CTTG', 'CTTT']

# Output

In [42]:
# # # uniqueAddress
# binaryList
# parityList
# percentageListUniqueAddress

# uniqueCompAddress
# percentageListComplimentary

#  nucleotideFragments,
# percentageListFragment.append(percentageValue3)

outputFrame=pd.DataFrame()

outputFrame.insert(0,"Binary Code",binaryRaw.iloc[:,0])
outputFrame.insert(1,"Quat Conversion",quatNumberList)
outputFrame.insert(2,"Quat Sequence",quatLettersList)


display(outputFrame)

    Binary Code Quat Conversion Quat Sequence
0      00000000            0000          AAAA
1      00000001            0001          AAAC
2      00000010            0002          AAAG
3      00000011            0003          AAAT
4      00000100            0010          AACA
..          ...             ...           ...
251    11111011            3323          TTGT
252    01111100            1330          CTTA
253    11111101            3331          TTTC
254    01111110            1332          CTTG
255    01111111            1333          CTTT

[256 rows x 3 columns]

In [43]:
outputFrame=outputFrame.astype(str)
outputFrame.to_csv("OutputBinarytoQuats.bod",encoding="utf-8",index = True)