# Quaternary Coding

In [1]:
# Backward Compatability - With No repeats
import numpy as np
import pandas as pd

In [2]:
# Vikram initial rule
def lookRight(prevNuc,digit,cf):
    
    
    nextLetter=cf.loc[prevNuc,digit]
    

    return nextLetter

In [3]:
def noTripleRepeats(code):
    x=len(code)
    for i,j in enumerate(code):
        if i==(x-2) or x<=3:
            break
        initialLetter=j
        secondLetter=code[i+1]
        thirdLetter=code[i+2]
#         print(initialLetter,secondLetter,thirdLetter)
        if (initialLetter == secondLetter) and (secondLetter == thirdLetter):
            return 1
    return 0

In [34]:
noTripleRepeats("ATATATCC")

0

# Select appropriate table

In [8]:
# FROM OPTIMISATION II - Table US1
insides={"Previous Nucleotide": ["A","C","G","T"], 0:["C","G","T","A"], 1:["T","A","C","G"], 2:["G","T","A","C"], 3:["AC","CG","GT","TG"]}


cf=pd.DataFrame(insides)
cf.index=cf["Previous Nucleotide"]
del cf["Previous Nucleotide"]

In [9]:
display(cf)

                     0  1  2   3
Previous Nucleotide
A                    C  T  G  AC
C                    G  A  T  CG
G                    T  C  A  GT
T                    A  G  C  TG

# Individual Code Check

In [30]:
code=[3,2,0,3]
phrase=""

# FROM OPTIMISATION II - Table US1
insides={"Previous Nucleotide": ["A","C","G","T"], 0:["C","G","T","A"], 1:["T","A","C","G"], 2:["G","T","A","C"], 3:["AC","CG","GT","TG"]}

cf=pd.DataFrame(insides)
cf.index=cf["Previous Nucleotide"]
del cf["Previous Nucleotide"]

for index, digit in enumerate(code): 
    
    if index==0:
        prevNuc="A"
    
    letter=lookRight(prevNuc,digit,cf)
#     print(letter)
    phrase=phrase+letter
    prevNuc=letter[-1]       
    
#     print(prevNuc)
    
print(phrase)

ACTAAC

# Read in 256 ASSCI Symbols

In [20]:
codeList=pd.read_csv("Quart_CODEUPDATED_BOD.csv", dtype=object,usecols=[0],skiprows=3)
cL=codeList.dropna()
cL.columns=["Tern Code"]
print(cL)

    Tern Code
0          10
1          11
2          12
3          13
4          20
..        ...
251   0030023
252   0030030
253   0030031
254   0030032
255   0030033

[256 rows x 1 columns]

In [21]:
# SISO Cehck

listInput=cL['Tern Code']
a=len(listInput)
b=set(listInput)

if a != len(b):
    print("SOMETHING WENT WRONG CHECK INPUT LIKELY REPEATED CODES")
    print("Input cells: ",a," Set size: ",len(b))
else:
    print("All good here")

All good here

# LOOP OVER THE TERN CODES FROM CSV

In [31]:
decodedList=[]
stringCodes=[]
noTripRepeatsList=[]

# FROM OPTIMISATION II - Table US1
insides={"Previous Nucleotide": ["A","C","G","T"], 0:["C","G","T","A"], 1:["T","A","C","G"], 2:["G","T","A","C"], 3:["AC","CG","GT","TG"]}



cf=pd.DataFrame(insides)
cf.index=cf["Previous Nucleotide"]
del cf["Previous Nucleotide"]

for codes in cL.iloc[:,0]:
    phrase=""
    stringCodes.append(codes)
    lc=[int(i) for i in list(codes)]
#     print(lc)
    for index, digit in enumerate(lc): 
#         print(index)
        if index==0:
            prevNuc=cf.index[0]

        letter=lookRight(prevNuc,digit,cf)
        phrase=phrase+letter
        prevNuc=letter[-1]  

    decodedList.append(phrase)
    noTripRepeatsList.append(noTripleRepeats(phrase))

print(decodedList)
print(len(decodedList))
print(len(set(decodedList)))
print(set([x for x in decodedList if decodedList.count(x) > 1]))
print(noTripRepeatsList)
print(sum(noTripRepeatsList))

display(cf)

['TA', 'TG', 'TC', 'TTG', 'GT', 'GC', 'GA', 'GGT', 'ACG', 'ACA', 'ACT', 'ACCG', 'CCGT', 'CCGC', 'CCGA', 'CCGGT', 'CATA', 'CATG', 'CATC', 'CATTG', 'CAGT', 'CAGC', 'CAGA', 'CAGGT', 'CAACG', 'CAACA', 'CAACT', 'CAACCG', 'CACAC', 'CACAT', 'CACAG', 'CACAAC', 'CACTA', 'CACTG', 'CACTC', 'CACTTG', 'CACCGT', 'CACCGC', 'CACCGA', 'CACCGGT', 'CACGTA', 'CACGTG', 'CACGTC', 'CACGTTG', 'CACGCG', 'CACGCA', 'CACGCT', 'CACGCCG', 'CACGAC', 'CACGAT', 'CACGAG', 'CACGAAC', 'CACGGTA', 'CACGGTG', 'CACGGTC', 'CACGGTTG', 'CTGT', 'CTGC', 'CTGA', 'CTGGT', 'CTCG', 'CTCA', 'CTCT', 'CTCCG', 'CTTGT', 'CTTGC', 'CTTGA', 'CTTGGT', 'CTATA', 'CTATG', 'CTATC', 'CTATTG', 'CTAGT', 'CTAGC', 'CTAGA', 'CTAGGT', 'CTAACG', 'CTAACA', 'CTAACT', 'CTAACCG', 'CTACGT', 'CTACGC', 'CTACGA', 'CTACGGT', 'CTACAC', 'CTACAT', 'CTACAG', 'CTACAAC', 'CTACTA', 'CTACTG', 'CTACTC', 'CTACTTG', 'CTACCGT', 'CTACCGC', 'CTACCGA', 'CTACCGGT', 'CGTGT', 'CGTGC', 'CGTGA', 'CGTGGT', 'CGTCG', 'CGTCA', 'CGTCT', 'CGTCCG', 'CGTTGT', 'CGTTGC', 'CGTTGA', 'CGTTGGT', 'CGTATA', 'CGTATG', 'CGTATC', 'CGTATTG', 'CGTAGT', 'CGTAGC', 'CGTAGA', 'CGTAGGT', 'CGTAACG', 'CGTAACA', 'CGTAACT', 'CGTAACCG', 'CGTACGT', 'CGTACGC', 'CGTACGA', 'CGTACGGT', 'CGTACAC', 'CGTACAT', 'CGTACAG', 'CGTACAAC', 'CGTACTA', 'CGTACTG', 'CGTACTC', 'CGTACTTG', 'CGTACCGT', 'CGTACCGC', 'CGTACCGA', 'CGTACCGGT', 'CGCAC', 'CGCAT', 'CGCAG', 'CGCAAC', 'CGCTA', 'CGCTG', 'CGCTC', 'CGCTTG', 'CGCCGT', 'CGCCGC', 'CGCCGA', 'CGCCGGT', 'CGCGCG', 'CGCGCA', 'CGCGCT', 'CGCGCCG', 'CGCGAC', 'CGCGAT', 'CGCGAG', 'CGCGAAC', 'CGCGGTA', 'CGCGGTG', 'CGCGGTC', 'CGCGGTTG', 'CGCGTAC', 'CGCGTAT', 'CGCGTAG', 'CGCGTAAC', 'CGCGTGT', 'CGCGTGC', 'CGCGTGA', 'CGCGTGGT', 'CGCGTCG', 'CGCGTCA', 'CGCGTCT', 'CGCGTCCG', 'CGCGTTGT', 'CGCGTTGC', 'CGCGTTGA', 'CGCGTTGGT', 'CGATA', 'CGATG', 'CGATC', 'CGATTG', 'CGAGT', 'CGAGC', 'CGAGA', 'CGAGGT', 'CGAACG', 'CGAACA', 'CGAACT', 'CGAACCG', 'CGACAC', 'CGACAT', 'CGACAG', 'CGACAAC', 'CGACTA', 'CGACTG', 'CGACTC', 'CGACTTG', 'CGACCGT', 'CGACCGC', 'CGACCGA', 'CGACCGGT', 'CGACGTA', 'CGACGTG', 'CGACGTC', 'CGACGTTG', 'CGACGCG', 'CGACGCA', 'CGACGCT', 'CGACGCCG', 'CGACGAC', 'CGACGAT', 'CGACGAG', 'CGACGAAC', 'CGACGGTA', 'CGACGGTG', 'CGACGGTC', 'CGACGGTTG', 'CGGTGT', 'CGGTGC', 'CGGTGA', 'CGGTGGT', 'CGGTCG', 'CGGTCA', 'CGGTCT', 'CGGTCCG', 'CGGTTGT', 'CGGTTGC', 'CGGTTGA', 'CGGTTGGT', 'CGGTATA', 'CGGTATG', 'CGGTATC', 'CGGTATTG', 'CGGTAGT', 'CGGTAGC', 'CGGTAGA', 'CGGTAGGT', 'CGGTAACG', 'CGGTAACA', 'CGGTAACT', 'CGGTAACCG', 'CGGTACGT', 'CGGTACGC', 'CGGTACGA', 'CGGTACGGT', 'CGGTACAC', 'CGGTACAT', 'CGGTACAG', 'CGGTACAAC', 'CGGTACTA', 'CGGTACTG', 'CGGTACTC', 'CGGTACTTG', 'CGGTACCGT', 'CGGTACCGC', 'CGGTACCGA', 'CGGTACCGGT']
256
256
set()
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
0

                     0  1  2   3
Previous Nucleotide
A                    C  T  G  AC
C                    G  A  T  CG
G                    T  C  A  GT
T                    A  G  C  TG

In [23]:
# cL.insert(1,"String Code",stringCodes)
cL.insert(1,"Table US1",decodedList)
# cL.insert(3,"Decoded: ATCG:0123",decodedList)
display(cL.head())
display(cL.tail())

  Tern Code Table US1
0        10        TA
1        11        TG
2        12        TC
3        13       TTG
4        20        GT

    Tern Code   Table US1
251   0030023   CGGTACTTG
252   0030030   CGGTACCGT
253   0030031   CGGTACCGC
254   0030032   CGGTACCGA
255   0030033  CGGTACCGGT

# Output

In [24]:
cLString=cL.astype(str)
# display(cLString)
cLString.to_csv("26012021_BC_Attempt9_TableUS1.bod",encoding="utf-8",index = True)